<h1><div id='header'>
	<h3>This is the make gem demo. In the following input field, test out the gem by making the query! For example, start with "Make.form.model('User').now!"</h3>
</div>
<div class='return-data'>
		<br><br><br>
		<%= @stateForm %>
		<br><br><br>
		<%= @stateTable %>
		<br><br><br>
		<br><br><br>
		<br><br><br>
		<%= @userForm %>
		<br><br><br>
		<%= @userTable %>
		<br><br><br>
		<br><br><br>
		<br><br><br>
		<%= @blogForm %>
		<br><br><br>
		<%= @blogTable %>
		<br><br><br>
		<br><br><br>
</div>
<div class='return-string'>
</div>
<br>
<br>
<br>
