<% content_for :jquery_code do %>
	<script type='text/javascript'>
	  $(document).ready(function()
	  {
	    $('#form-input').submit(function(){
	      $.post('demonstrations/inputted', $(this).serialize(),
	        function(data){
	          	$('.return-data').html(data.to_append);
	          	$('.return-string').text(String(data.to_append));
	        }, 'json'
	        );
	      return false;
	    });
	  });
	</script>
<% end %>
<h1><div id='header'>
	<h3>This is the make gem demo. In the following input field, test out the gem by making the query! For example, start with "Make.form.model('User').now!"</h3>
</div>
<form id='form-input' action='demonstrations/inputted' method='post'>
	<input type='string' name='input'></input>
	<input id="authenticity_token" name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
	<input type="submit" value="Submit"></form>
</form>
<div class='return-data'>
</div>
<div class='return-string'>
</div>
<br>
<br>
<br>
<div id='form'>Make state<%=Make.form.model('State').now!%></div>
<div id='form'>State Table<%=Make.table.model('State').now!%></div>
<br>
<br>
<br>
<div id='form'>Make User<%=Make.form.model('User').select('state_id', (1..16).select, assoc=true).now!%></div>
<div id='form'>User Table<%=Make.table.model('User').now!%></div>
<br>
<br>
<br>
<div id='form'>Make Blog<%=Make.form.model('Blog').default('user_id', 1).now!%></div>
<div id='form'>Blog Table<%=Make.table.model('Blog').now!%></div>